body {
    background: -webkit-linear-gradient(top, rgb(254, 251, 247) 0%, rgb(243, 207, 152) 20%, rgb(248, 235, 213) 79%);
    background: -o-linear-gradient(top, rgb(254, 251, 247) 0%, rgb(243, 207, 152) 20%, rgb(248, 235, 213) 79%);
    background: -ms-linear-gradient(top, rgb(254, 251, 247) 0%, rgb(243, 207, 152) 20%, rgb(248, 235, 213) 79%);
    background: -moz-linear-gradient(top, rgb(254, 251, 247) 0%, rgb(243, 207, 152) 20%, rgb(248, 235, 213) 79%);
    background: linear-gradient(to bottom, rgb(254, 251, 247) 0%, rgb(243, 207, 152) 20%, rgb(248, 235, 213) 79%);
    background-size: 100% 600px;
}